In [1]:
import pandas as pd

In [2]:
cd C:\Users\QUYEN\Desktop\BA\Lap02

C:\Users\QUYEN\Desktop\BA\Lap02

In [3]:
pwd

u'C:\\Users\\QUYEN\\Desktop\\BA\\Lap02'

In [4]:
 pd.read_csv('DuLieuVietNamVeDanSoNam2010-2016.csv')

,Chi tieu(Don vi tinh),Dan so(Trieu nguoi),Mat do dan so(nguoi/km),Ti le tang dan so (%),Ti le dan thanh thi(%)
0,2016.0,92.70,-,1.10,34.60
1,2015.0,91.70,270.64,1.07,34.30
2,2014.0,90.73,273.53,1.08,33.10
3,2013.0,89.71,270.46,1.05,32.36
4,2012.0,88.78,267.65,1.06,32.45
5,2011.0,87.84,264.82,1.04,30.60
6,2010.0,86.93,262.07,1.05,29.90

In [5]:
x=pd.read_csv('DuLieuVietNamVeDanSoNam2010-2016.csv')
x.head()

,Chi tieu(Don vi tinh),Dan so(Trieu nguoi),Mat do dan so(nguoi/km),Ti le tang dan so (%),Ti le dan thanh thi(%)
0,2016.0,92.70,-,1.10,34.60
1,2015.0,91.70,270.64,1.07,34.30
2,2014.0,90.73,273.53,1.08,33.10
3,2013.0,89.71,270.46,1.05,32.36
4,2012.0,88.78,267.65,1.06,32.45

In [6]:
cyl=x['Dan so(Trieu nguoi)']
am=x['Mat do dan so(nguoi/km)']
table=pd.crosstab(cyl,am)
from scipy.stats import chi2_contingency
chi2,p,df,expected=chi2_contingency(table.values)
print 'chi-square: %0.3f \n bac tu do: %0.3f \n p_vaule: %0.3f' % (chi2,df,p)

chi-square: 42.000
 bac tu do: 36.000
 p_vaule: 0.227

In [7]:
x.describe()

,Chi tieu(Don vi tinh),Dan so(Trieu nguoi),Ti le tang dan so (%),Ti le dan thanh thi(%)
count,7.000000,7.00000,7.000000,7.000000
mean,2013.000000,89.77000,1.064286,32.472857
std,2.160247,2.08189,0.020702,1.751045
min,2010.000000,86.93000,1.040000,29.900000
25%,2011.500000,88.31000,1.050000,31.480000
50%,2013.000000,89.71000,1.060000,32.450000
75%,2014.500000,91.21500,1.075000,33.700000
max,2016.000000,92.70000,1.100000,34.600000

In [8]:
from scipy import stats
stats.describe(am)

C:\Users\QUYEN\Anaconda2\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

TypeError: unsupported operand type(s) for /: 'str' and 'long'

In [ ]:
stats.describe(x[2:])

In [ ]:
import numpy as np
y1=np.random.normal(.1064,1.1948,252)
stats.describe(y1)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr
%matplotlib inline

In [ ]:
print('x',stats.kurtosistest(am))

In [ ]:
import matplotlib.mlab as mlab
plt.hist(x,edgecolor='red')
plt.show()

In [ ]:
plt.plot(x)
plt.show()

In [ ]:
import matplotlib.mlab as mlab
from scipy.stats import kurtosis, skew
mean_tb=float(np.mean(am))
sd=float(np.std(am,ddof=1))
min_x=float(np.min(am))
max_x=float(np.max(am))
kur=format( kurtosis(am) )
skew=format( skew(am) )
a=np.linspace(min_x,max_x,100)
plt.plot(a,mlab.normpdf(a,mean_tb,sd))

In [ ]:
cyl

In [ ]:
am

In [ ]:
plt.plot(x)
plt.show()

In [ ]:
plt.hist(am)
plt.show()

In [ ]:
print( 'excess kurtosis of normal distribution (should be 0): {}'.format( kurtosis(am) ))
print( 'skewness of normal distribution (should be 0): {}'.format( skew(am) ))

In [ ]:
a

In [ ]:
import seaborn as sb
import matplotlib.pyplot as plt
x.boxplot(column='x',by='y')

In [ ]:
sb.boxplot(x='x',y='y',data=x,palette='hls',boxplot.title("do thi"))

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# construct some data like what you have:
x = np.random.randn(100, 8)
mins = x.min(0)
maxes = x.max(0)
means = x.mean(0)
std = x.std(0)

# create stacked errorbars:
plt.errorbar(np.arange(8), means, std, fmt='ok', lw=3)
plt.errorbar(np.arange(8), means, [means - mins, maxes - means],
             fmt='.k', ecolor='gray', lw=1)
plt.xlim(-1, 8)

In [ ]:
import statistics
np.median(0)

In [ ]:
mean = np.mean(am)
mean
median=np.median(am)
median

In [ ]:
mode = stats.mode(am)

In [ ]:
print("The modal value is {} with a count of {}".format(mode.mode[0], mode.count[0]))

In [ ]:
np.ptp(am)

In [ ]:
np.var(x)