In [1]:
import pandas as pd

In [2]:
cd C:\Users\QUYEN\Desktop\BA\Lap02

C:\Users\QUYEN\Desktop\BA\Lap02

In [3]:
data = pd.read_csv('DSVN.csv')
data.head()

,Chi tieu(Don vi tinh),Dan_So,Mat_do_dan_so,Ti le tang dan so (%),Ti le dan thanh thi(%)
0,2016,92.70,0.00,1.10,34.60
1,2015,91.70,270.64,1.07,34.30
2,2014,90.73,273.53,1.08,33.10
3,2013,89.71,270.46,1.05,32.36
4,2012,88.78,267.65,1.06,32.45

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
Chi tieu(Don vi tinh)     7 non-null int64
Dan_So                    7 non-null float64
Mat_do_dan_so             7 non-null float64
Ti le tang dan so (%)     7 non-null float64
Ti le dan thanh thi(%)    7 non-null float64
dtypes: float64(4), int64(1)
memory usage: 352.0 bytes

In [6]:
cyl=data['Dan_So']
am=data['Mat_do_dan_so']

In [7]:
am

0      0.00
1    270.64
2    273.53
3    270.46
4    267.65
5    264.82
6    262.07
Name: Mat_do_dan_so, dtype: float64

In [8]:
import pandas
from scipy import stats
from math import sqrt
from scipy.stats import t
# Run independent t-test
ind_t_test = stats.ttest_ind(data['Dan_So'],data['Mat_do_dan_so'])
# Calculate the mean difference and 95% confidence interval
N1 = data['Dan_So'].count()
N2 = data['Mat_do_dan_so'].count()
df = (N1 + N2 - 2)
std1 = data['Dan_So'].std()
std2 = data['Mat_do_dan_so'].std()
std_N1N2 = sqrt( ((N1 - 1)*(std1)**2 + (N2 - 1)*(std2)**2) / df) 
diff_mean = data['Dan_So'].mean() - data['Mat_do_dan_so'].mean()
MoE = t.ppf(25, df) * std_N1N2 * sqrt(1/N1 + 1/N2)
print('The results of the independent t-test are: \n\tstatistic = {:4.3f}\n\tp-value = {:4.3f}'.format(ind_t_test[0],ind_t_test[1]))
print ('\nThe difference between groups is {:3.1f} [{:3.1f} to {:3.1f}] (mean [95% CI])'.format(diff_mean, diff_mean - MoE, diff_mean + MoE))

The results of the independent t-test are:
	statistic = -3.654
	p-value = 0.003

The difference between groups is -140.1 [nan to nan] (mean [95% CI])

In [10]:
from scipy import stats
one_sample_data = data['Mat_do_dan_so']
df=one_sample_data.count()-1
one_sample = stats.ttest_1samp(one_sample_data,60)
print 'bac tu do %f' % df
print one_sample

bac tu do 6.000000
Ttest_1sampResult(statistic=4.430786499018813, pvalue=0.004419365030457648)

In [ ]:
one_sample